_Output/
blog/_Output/
lectures/_Output/
journal/_Output/

lectures/app_day/index.html
lectures/cecon_nerd/index.html
lectures/microsoft_innovation_center_-_MicBH/index.html
lectures/nokia_game_developers_day/index.html
lectures/windows_8_camp/index.html
lectures/windows_developer_day_unifei_-_itajubá/index.html

journal/cubo_bilingue/index.html
journal/confraternizacao_unity/index.html
journal/lunch_with_steve/index.html
journal/aniversario_cubo/index.html
